<p id="notice"><%= notice %></p>

<p>
  <strong><%=t(:'Username:')%></strong>
  <%= @user.username %>
</p>

<p>
  <strong><%=t(:'Result:')%></strong>
  <%= @user.result %>
</p>

<%if @user.id == cookies.signed[:user_id]%>
  <%= link_to t(:'Edit'), edit_user_path(@user) %> <br/>
  <%= link_to t(:'Destroy'), @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<%else%>
  <%= link_to t(:'Back to user list'), users_path %>
<%end%>
